@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --text-color: #D2D2D2;
}

body {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--text-color);
}


.container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.kodchasan-medium {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kodchasan-semibold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kodchasan-bold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: normal;
}